<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="/css/styles.css"> 



</head>

<body>
        {{>header}}
        <p>name: {{name}}</p>
        <p>age: {{age}}</p>
        <p>major: {{major}}</p>
        <p>job: {{job}}</p>
        <p>nationality: {{nationality}}</p>



        {{>footer}}

</body>






</html>